
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    @ViewBag.model.Course.Title
    <ul>
    @foreach (var x in ViewBag.model.Assignments)
    {
        <li><a href="/Assignments/Details/@x.ID">@x.Title</a></li>
    }
    </ul>
</div>
<p>
</p>
