
@{
    ViewBag.Title = "Details";
}

<h2>Course: @ViewBag.model.Course.Title</h2>

<div>
    <button type="button" class="btn create-assignment-button">
        <a href="/Assignments/Create">Create assignment</a>
    </button>

    <hr />




   <ul>
    @foreach (var x in ViewBag.model.Assignments)
    {
        <li><a href="/Assignments/Details/@x.ID">@x.Title</a></li>
    }
    </ul>
</div>
<p>
</p>
