
@{
    ViewBag.Title = "Details";
}

<h2>Course: @ViewBag.model.Course.Title</h2>

<div>
    <p>
        @ViewBag.model.Course.Description
    </p>

        @if (User.IsInRole("Teacher"))
        {
            <button type="button" class="btn create-assignment-button">
                <a href="/Assignments/Create">Create assignment</a>
            </button>
        }

            


    <hr />
   <table class="table table-striped table-bordered">
       <thead>
           <tr>
               <th>ID</th>
               <th>Title</th>
               <th>Actions</th>
           </tr>
       </thead>
       <tbody>
           @foreach (var x in ViewBag.model.Assignments)
           {
               <tr>
                   <td>@x.ID</td>
                   <td>@x.Title</td>
                   <td>
                       <a href="/Assignments/Details/@x.ID">Details</a>
                       <a href="/Assignments/Edit/@x.ID">Edit</a>
                   </td>

               </tr>
           }
       </tbody>
   </table>
</div>
<p>
</p>
