@{
    ViewBag.Title = "Home Page";
}

<h2 class="dropdown-title">Please pick a course:</h2>
<div class="dropdown our-dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
        <a href="#">Forritun</a>
        <a href="#">Gagnaskipan</a>
        <a href="#">Reiknirit</a>
    </div>
</div>

