
@{
    ViewBag.Title = "MilestoneDetail";
}

<h2>MilestoneDetail</h2>


<form action="/Assignments/MilestoneDetail" method="post" enctype="multipart/form-data">
    
    <input type="file" name="file" />
    <input type="text" name="something" value="2" />
    <input type="submit" value="Senda inn lausn" />
</form>